@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
body{
font-family: 'Roboto', sans-serif;
font-size: 1.6rem;
line-height: 1.5;
text-rendering: optimizeSpeed;
margin: 0;
padding: 0;
}
html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}