.wrapper {
    min-width: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border-radius: 4px;
    border: none;
    padding: 6px 16px;
    cursor: pointer;
    justify-content: flex-start;

}


.primary {
    min-width: 110px;
    padding: 0 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 4px;
    margin-left: 16px;
    color: rgba(255, 255, 255, 1);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
    }

    background-color: rgba(254, 44, 85, 1);


}

.outline {
    border: 1px red solid;
    color: red;
    background-color: white;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);

    }
}

.a {
    min-width: 110px;
    padding: 0 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    margin-left: 16px;

    &:hover {
        background-color: rgba(22, 24, 35, .03);

    }
}
