.wrapper{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1150px;
    display: flex;
    min-height: 1000px;
}
.content{
    flex: 1;
   
}